name: CI

on: [push]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Ballerina Build
              uses: ballerina-platform/ballerina-action@slbeta6
              with:
                  args:
                      pack ./cosmosdb
            - name: Ballerina Test
              uses: ballerina-platform/ballerina-action@slbeta6
              with:
                  args:
                      test ./cosmosdb
              env:
                  BASE_URL: ${{ secrets.BASE_URL }}
                  MASTER_OR_RESOURCE_TOKEN: ${{ secrets.MASTER_OR_RESOURCE_TOKEN }}      
